[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
adr-tools-python = "==1.0.3"
attrs = "==21.4.0"
beautifulsoup4 = "==4.11.1"
bleach = "==5.0.0"
boto3 = "==1.22.8"
botocore = "==1.25.8"
certifi = "==2021.10.8"
charset-normalizer = "==2.0.12"
click = "==8.1.3"
defusedxml = "==0.7.1"
diagrams = "==0.8.2"
entrypoints = "==0.4"
fastjsonschema = "==2.15.3"
ghp-import = "==2.1.0"
gitdb = "==4.0.9"
graphviz = "==0.13.2"
httplib2 = "==0.20.4"
idna = "==3.3"
importlib-metadata = "==4.11.3"
jmespath = "==1.0.0"
jsonschema = "==4.5.1"
jupyter-client = "==7.3.0"
jupyter-core = "==4.10.0"
jupyterlab-pygments = "==0.1.2"
mergedeep = "==1.3.4"
mistune = "==0.8.4"
mkdocs = "==1.3.0"
mkdocs-autolinks-plugin = "==0.5.0"
mkdocs-blog-plugin = "==0.25"
mkdocs-build-plantuml-plugin = "==1.7.3"
mkdocs-exclude = "==1.0.2"
mkdocs-macros-plugin = "==0.7.0"
mkdocs-macros-test = "==0.1.0"
mkdocs-material = "==8.2.13"
mkdocs-material-extensions = "==1.0.3"
mkdocs-redirects = "==1.0.4"
mkdocs-simple-hooks = "==0.1.5"
mkdocs-table-reader-plugin = "==1.0.0"
nbclient = "==0.6.2"
nbformat = "==5.4.0"
nest-asyncio = "==1.5.5"
numpy = "==1.22.3"
pandas = "==1.4.2"
pandocfilters = "==1.5.0"
plantuml = "==0.3.0"
plantuml-markdown = "==3.5.2"
pymdown-extensions = "==9.4"
pyparsing = "==3.0.8"
pyrsistent = "==0.18.1"
python-dateutil = "==2.8.2"
pytz = "==2022.1"
pyzmq = "==22.3.0"
requests = "==2.27.1"
s3transfer = "==0.5.2"
six = "==1.16.0"
smmap = "==5.0.0"
soupsieve = "==2.3.2.post1"
tabulate = "==0.8.9"
termcolor = "==1.1.0"
tinycss2 = "==1.1.1"
tornado = "==6.1"
traitlets = "==5.1.1"
urllib3 = "==1.26.9"
watchdog = "==2.1.7"
webencodings = "==0.5.1"
zipp = "==3.8.0"
GitPython = "==3.1.27"
Jinja2 = "==2.11.3"
Markdown = "==3.3.7"
MarkupSafe = "==2.0.1"
Pygments = "==2.12.0"
PyYAML = "==6.0"
pyyaml_env_tag = "==0.1"
fontawesome-markdown = "*"
mknotebooks = "*"
ipython-genutils = "*"
adr-viewer = "*"
python-gitlab = "*"

[requires]
python_version = "3.9"
