adr-tools-python==1.0.3
adr-viewer==1.3.0
boto3==1.22.8
diagrams==0.8.2
jupyterlab-pygments==0.1.2
mkdocs==1.3.0
mkdocs-autolinks-plugin==0.5.0
mkdocs-blog-plugin==0.25
mkdocs-build-plantuml-plugin==1.7.3
mkdocs-exclude==1.0.2
mkdocs-macros-plugin==0.7.0
mkdocs-macros-test==0.1.0
mkdocs-material==8.2.13
mkdocs-material-extensions==1.0.3
mkdocs-redirects==1.0.4
mkdocs-simple-hooks==0.1.5
mkdocs-table-reader-plugin==1.0.0
mknotebooks==0.5.0
plantuml-markdown==3.5.2
pymdown-extensions==9.4
