adr-viewer==1.2.0
async-generator==1.10
attrs==20.2.0
beautifulsoup4==4.9.3
bleach==3.2.1
bottle==0.12.18
bs4==0.0.1
click==7.1.2
contextvars==2.4
decorator==4.4.2
defusedxml==0.6.0
diagrams==0.8.2
entrypoints==0.3
fontawesome-markdown==0.2.6
future==0.18.2
gitdb==4.0.5
GitPython==3.1.11
graphviz==0.13.2
httplib2==0.18.1
immutables==0.14
importlib-metadata==2.0.0
ipython-genutils==0.2.0
Jinja2==2.11.2
joblib==0.17.0
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
livereload==2.6.3
lunr==0.5.8
Markdown==3.3.3
MarkupSafe==1.1.1
mistune==0.8.4
mkdocs==1.1.2
mkdocs-autolinks-plugin==0.2.0
mkdocs-blog-plugin==0.25
mkdocs-build-plantuml-plugin==1.4.0
mkdocs-exclude==1.0.2
mkdocs-macros-plugin==0.4.20
mkdocs-macros-test==0.1.0
mkdocs-material==4.6.3
mkdocs-redirects==1.0.1
mkdocs-simple-hooks==0.1.2
mkdocs-table-reader-plugin==0.4.2
mknotebooks==0.6.2
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.2
nltk==3.5
numpy==1.19.4
packaging==20.4
pandas==1.1.4
pandocfilters==1.4.3
plantuml==0.3.0
plantuml-markdown==3.2.2
Pygments==2.7.2
pymdown-extensions==6.3
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
pyzmq==19.0.2
regex==2020.10.28
six==1.15.0
smmap==3.0.4
soupsieve==2.0.1
tabulate==0.8.7
termcolor==1.1.0
testpath==0.4.4
tornado==6.1
tqdm==4.51.0
traitlets==4.3.3
webencodings==0.5.1
zipp==3.4.0
