-i https://pypi.org/simple/
adr-viewer==1.2.0
async-generator==1.10
attrs==20.3.0
beautifulsoup4==4.9.3
bleach==3.3.0
bottle==0.12.19
bs4==0.0.1
click==7.1.2
contextvars==2.4 ; python_version >= '3.6' and python_version < '3.7'
decorator==4.4.2
defusedxml==0.6.0
diagrams==0.8.2
entrypoints==0.3
fontawesome-markdown==0.2.6
future==0.18.2
gitdb==4.0.5
gitpython==3.1.12
graphviz==0.13.2
httplib2==0.19.0
immutables==0.14
importlib-metadata==3.4.0 ; python_version < '3.8'
ipython-genutils==0.2.0
jinja2==2.11.3
joblib==1.0.0
jsonschema==3.2.0
jupyter-client==6.1.11
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
livereload==2.6.3
lunr[languages]==0.5.8
markdown==3.3.3
markupsafe==1.1.1
mistune==0.8.4
mkdocs-autolinks-plugin==0.2.0
mkdocs-blog-plugin==0.25
mkdocs-build-plantuml-plugin==1.4.0
mkdocs-exclude==1.0.2
mkdocs-macros-plugin==0.4.20
mkdocs-macros-test==0.1.0
mkdocs-material==4.6.3
mkdocs-redirects==1.0.1
mkdocs-simple-hooks==0.1.2
mkdocs-table-reader-plugin==0.4.2
mkdocs==1.1.2
mknotebooks==0.6.2
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
nltk==3.5
numpy==1.19.5
packaging==20.9
pandas==1.1.5
pandocfilters==1.4.3
plantuml-markdown==3.2.2
plantuml==0.3.0
pygments==2.7.4
pymdown-extensions==6.3
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2021.1
pyyaml==5.4.1
pyzmq==22.0.2
regex==2020.11.13
six==1.15.0
smmap==3.0.5
soupsieve==2.1 ; python_version >= '3.0'
tabulate==0.8.7
termcolor==1.1.0
testpath==0.4.4
tornado==6.1
tqdm==4.56.0
traitlets==4.3.3
typing-extensions==3.7.4.3 ; python_version < '3.8'
webencodings==0.5.1
zipp==3.4.0
